.parallax {
  /* Usa una unidad relativa para el desplazamiento vertical */
 
  /* Usa un color más claro o transparente para el fondo */
  background-color: rgba(255, 255, 255, 0.2);
  padding: 2rem;
  border-radius: 10px;
  /* Añade una animación para que el elemento se desvanezca al final del efecto */
  animation: fade-out 2s ease-out forwards;
}

/* Define la animación de desvanecimiento */
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}